.banner {
  margin: {
    top: 22px;
  }

  text-align: center;

  &--second {
    margin: {
      top: 63px;
    }
  }
}

.banner__img {
  @media (max-width: $desktop-width) {
    max-width: 100%;
  }
}