.img-with-right-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $desktop-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.img-with-right-slider__img {
  @media (max-width: $desktop-width) {
    margin-bottom: 40px;
    max-width: 100%;
  }
}