.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &--footer {
    align-items: flex-start;

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }
}

.logo__text {
  @include font(PT Sans, sans-serif, 42px, inherit, #000000, bold);
  margin: {
    left: 8px;
  }

  &--footer {
    color: #fff;
  }
}

.logo__text-color {
  color: #3b91c4;
  &--footer {
    color: #fff;
  }
}