.section-title {
  @include font(PT Sans, sans-serif, 30px, 1em, #3b90c3, bold);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: {
    top: 12px;
    bottom: 24px;
  }

  &--games {
    margin: {
      top: 20px;
    }
  }

  &--v2 {
    white-space: nowrap;
    margin: {
      top: 20px;
      bottom: 35px;
    }
  }

  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.section-title__img {
  margin: {
    right: 18px;
  }
}