.slider {
  padding: {
    top: 40px;
    bottom: 50px;
    left: 25px;
  }

  &--border {
    border-top: 6px dotted #3b90c3;
    border-bottom: 6px dotted #3b90c3;
  }

  &--about {
    width: 870px;
    padding: {
      left: 0;
      top: 0;
      bottom: 0;
    }
    margin: {
      left: auto;
      right: auto;
      bottom: 60px;
    }
  }

  @media (max-width: $desktop-width) {
    width: 70%;
  }

  @media (max-width: $tablet-width) {
    width: 80%;
  }
}

.slider__wrapper {
  margin: {
    bottom: 42px;
  }
}

.slider__item {
  &--about p {
    @include font(PT Sans, sans-serif, 18px, 1.3em, #565656, 300);
    margin: {
      top: 0;
      bottom: 0;
    }
    text-align: justify;
  }
}

.slider__title {
  @include font(PT Sans, sans-serif, 36px, 1.1em, #000000, bold);
  text-transform: uppercase;
  position: relative;
  padding: {
    bottom: 34px;
  }
  margin: {
    top: 0;
    bottom: 18px;
  }

  &::after {
    content: "";
    width: 85px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 7px solid #abd361;
  }
}

.slider__description {
  @include font(PT Sans, sans-serif, 18px, 1.3em, #565656, 300);
  margin: {
    top: 0;
    bottom: 0;
  }
}