@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

body {
  margin: 0;
}

.container {
  width: 1175px;
  margin: {
    left: auto;
    right: auto;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nofill-button {
  height: 19px;
  @include font(PT Sans, sans-serif, 18px, 1em, #4293c5, bold);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #3b90c3;
  padding: 20px 25px;
  border-radius: 50px;
}


.flex {
  display: flex;

  &--img-with-right-slider {
    justify-content: space-between;
    margin: {
      top: 30px;
      bottom: 30px;
    }
  }

  &--right-big {
    width: 773px;
    height: 681px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  &--games {
    margin: {
      bottom: 30px;
    }
  }
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-sb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots-line {
  border-top: 6px dotted #3b90c3;
  margin: {
    left: 8px;
    right: 8px;
  }
}