@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

body {
  margin: 0;
}

.container {
  width: 1175px;
  margin: {
    left: auto;
    right: auto;
  }

  @media (max-width: $desktop-width) {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $desktop-width) {
      justify-content: center;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      margin-bottom: 15px;
    }

  }
}

.nofill-button {
  height: 19px;
  @include font(PT Sans, sans-serif, 18px, 1em, #4293c5, bold);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #3b90c3;
  padding: 20px 25px;
  border-radius: 50px;

  &--about-slider {
    font-size: 24px;
    border-color: transparent;
    color: #000;
    font-weight: 400;

    &.active {
      border-color: #3b90c3;
      color: #4293c5;
      font-weight: bold;
    }
  }

  &--comment {
    display: flex;
    justify-content: center;
    width: 222px;
    color: #fff;
    font-weight: 400;
    background-color: #9ccd5c;
    border-color: #9ccd5c;
    margin: {
      left: auto;
      right: auto;
      top: 30px;
      bottom: 22px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $desktop-width) {
    &--header {
      margin: {
        left: 33px;
        right: 33px;
      }
    }

    &--about-slider {
      height: auto;
      text-align: center;
      line-height: 1.1em;
    }
  }

  @media (max-width: $mobile-width) {
    &--header {
      margin: {
        bottom: 12px;
        top: 12px;
      }
    }
  }
}

.dots-line {
  border-top: 6px dotted #3b90c3;
  margin: {
    left: 8px;
    right: 8px;
  }

  &--section-title {
    width: 100%;
    margin: {
      left: 40px;
    }
  }

  &--main-page-prefooter {
    margin: {
      bottom: 60px;
    }
  }

  @media (max-width: $desktop-width) {
    display: none
  }
}

.square {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #3b90c3;
  margin: {
    right: 10px;
  }

  &--green {
    background-color: #abd361;
  }
}

.grey-line {
  border-bottom: 1px solid #959595;

  &--sidebar {
    border-width: 2px;
  }
}

.link-reset {
  color: inherit;
  text-decoration: none;
}


//custom styles for wp comments (no bem)
.comment-respond {
  margin: {
    top: 50px;
  }
}

.comment-respond .logged-in-as {
  display: none;
}

.comment-form-comment {
  margin: {
    bottom: 0;
  }
}

.comment-form-comment textarea {
  width: calc(100% - 40px);
  border: 1px solid #e5e5e5;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  outline: 0;
  height: 100px;
  border-radius: 0;
}

.form-submit {
  margin: {
    top: 0;
  }
}

.form-submit .submit {
  height: 65px;
  font-family: PT Sans,sans-serif;
  font-size: 18px;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 25px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  width: 280px;
  color: #fff;
  font-weight: 400;
  background-color: #9ccd5c;
  border: none;
  margin: 0 auto 22px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

#author {
  border: 1px solid #e5e5e5;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 55px);
  margin-right: 15px;
  display: inline-block;
  padding: 0 20px;
  color: #000;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 40px;
  outline: 0;
}

#email {
  border: 1px solid #e5e5e5;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 48px);
  display: inline-block;
  padding: 0 20px;
  color: #000;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 40px;
  outline: 0;
}
//custom styles for wp comments (no bem)//

.wpcf7 {
  display: inline-block;
  width: 586px;
  height: 100%;

  @media (max-width: $desktop-width) {
    width: 100%;
    margin: {
      top: 20px !important;
      bottom: 20px !important;
    }
  }
}

.wpcf7 .ajax-loader {
  display: none !important;
}

.wpcf7-form {
  height: 100%;
}

.wpcf7-response-output {
  position: absolute;
  @media (max-width: $desktop-width) {
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;
    text-align: center;
    width: 260px;
  }
}